---
title: Le Wagon - Middleman
---

<%= partial 'layouts/banner' %>

<div class="container">
  <div class="row">
    <% data.cities.each do |city| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= city.name.downcase %>');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2><%= city.title %></h2>
            <p><%= city.info %></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/<%= city.owner %>">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    <% end %>
  </div>
</div>

